*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.hero__section{
    background-image: url(images/heroSectionBackground.png);
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 4rem;
}

.navbar{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 16px 2rem;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.list_bar{
    display: flex;
    gap: 2rem;
}
.bar{
    display:none;
}
.nav_container{
    display: flex;
    gap: 2rem;
}

.hero_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}
.hero_contents h1{
    color: white;
    font-weight: 350;
    font-size: xx-large;
    letter-spacing: 1.25px;
    margin: 2rem 3rem;
}
.hero_contents img{
    height: 60px;
    margin: 1rem;
}

.hero__input_section{
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    width: 50%;
    border-radius: 10px;
}
.hero__input_section svg{
    height: 25px;
}
.city_input{
    border: none;
    outline: none;
    width: 35%;
    font-size: medium;
    border-right: 3px solid #e0e0e0;
}
.search_bar{
    border: none;
    outline: none;
    width: 65%;
    font-size: medium;
}



.options__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item_card{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease; 
}
.item_card img{
    height: 180px;
    width: 280px;
    object-fit: cover;
}
.item_card:hover {
    transform: scale(1.1);
}

.item_content{
    padding: 0px 10px 10px;
}
.item_content p{
    font-size: small;
}



.collections__section{
    background-color: #F8F8F8;
    margin-top: 1rem;
    padding: 2rem;
}
.collections__section h2{
    color: #1c1c1c;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 26px;
}
.collections_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    font-size: 16px;
}
.collections_heading a{
    color: #e03546;
    text-decoration: none;
}
.collections_heading h6{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
}

.collections_container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 1.5rem;
}
.collections_container a{
    text-decoration: none;
    color: white;
}

.card{
    position: relative;
    height: 320px;
    width: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}
.card1{
    background-image: url(images/collections1.avif);
}
.card2{
    background-image: url(images/collection2.jpg);
}
.card3{
    background-image: url(images/collection3.jpg);
}
.card4{
    background-image: url(images/collections4.avif);
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
}

.card_content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    padding: 10px;
}



.get_the_app__section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 251, 247);
    padding: 3rem 6rem;
}
.positioning_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner_holder{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.banner_holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.app_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.app_container h2{
    font-weight: 400;
    font-size: 2rem;
}
.app_container span{
    font-size: 0.8rem;
}

.radio_button{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.radio_button input{
    height: 15px;
    width: 15px;
    align-items: center;
    accent-color: rgb(239,79,95);
    margin-right: 10px;
}
.radio_button label{
    font: 14px;
}
.email_input{
    display: flex;
    gap: 1rem;
    font-size: 14px;
}
.email_input input{
    /* width: 20rem; */
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
    padding: 10px 12px
}
.email_input button{
    border: none;
    background-color: rgb(239,79,95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 12px;
    transition: all ease 0ms 50ms ;
}
.email_input button:hover{
    transform: scale(1.05);
}

.download_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.downloader{
    display: grid;
}
.downloader a img{
    width: 40%;
}

.footer {
    width: 100%;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.footer_container img {
    width: 120px;
}
.button_container {
    display: flex;
    gap: 1.5rem;
}
.button_container button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.button_container button i, 
.button_container button img{
    margin: 5px;
}



.navigation_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}
.link_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.link_container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}
.link_container a{
    text-decoration: none;
    color: #808080;
    font-size: 13px;
    font-weight: 300;
}
.social_media_links button {
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.social_media_links button i {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store_links{
    display: grid;
}


@media only screen and (max-width: 1300px){
    .get__the_app .semiContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 750px){
    
    .link{
        display: none;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero_contents h1{
        color: white;
        font-weight: 350;
        font-size: x-large;
        letter-spacing: 1px;
        margin: 2rem;
    }
    
    .bar{
        display: block;
        font-size: x-large;
    }


    .hero__input_section{
        flex-direction: column;
        background-color: transparent;
        width: 60vw;
    }

     .hero__input_section svg{
        display: none;
    }

    .city_input, .search_bar{
        width: 90%;
        border-radius: 10px;
        padding: 10px;
    }
 }
